|what I need to include

date dimension 

3 additional dimension tables

population of the dimensions from these sources 

   MySQL 

   MongoDB

   Azure Data Lake JSON


1 fact table that captures the business process transactions

static and real time data
- Accumulating data from a streaming data source for a minibatch, integrate with reference data, using the product as a source of populating databricks bronze/silver/gold architecture - 3 intervals of data integration, export the fact table into a collection of data files that repersents blocks of consecutive rows

one or more visualization to demosntrate business value

In [0]:
import os
import json
import pymongo
import pyspark.pandas as pd  # This uses Koalas that is included in PySpark version 3.2 or newer.
from pyspark.sql.functions import col
from pyspark.sql.types import StructType, StructField, StringType, TimestampType, BinaryType
from pyspark.sql.types import ByteType, ShortType, IntegerType, LongType, FloatType, DecimalType

#### We will instatiate Global Variables

In [0]:
# Azure MySQL Server Connection Information ###################
jdbc_hostname = "amd9asz-mysql2.mysql.database.azure.com"
jdbc_port = 3306
src_database = "chinook_dw"

connection_properties = {
  "user" : "amd9asz",
  "password" : "Password123",
  "driver" : "org.mariadb.jdbc.Driver"
}

# MongoDB Atlas Connection Information ########################
atlas_cluster_name = "aidaclust.hrxvgai"
atlas_database_name = "chinook_dw"
atlas_user_name = "amd9asz"
atlas_password = "Password123"

mongo_uri = f"mongodb+srv://{atlas_user_name}:{atlas_password}@{atlas_cluster_name}.mongodb.net/{atlas_database_name}"
print(mongo_uri)

# Data Files (JSON) Information ###############################
dst_database = "chinook_d1h"

base_dir = "dbfs:/FileStore/final_data"
database_dir = f"{base_dir}/{dst_database}"

batch_dir = f"{base_dir}/batch"
stream_dir = f"{base_dir}/stream"

inv_stream_dir = f"{stream_dir}/invoice" #fact table data

inv_output_bronze = f"{database_dir}/fact_incoices/bronze"
inv_output_silver = f"{database_dir}/fact_invoices/silver"
inv_output_gold   = f"{database_dir}/fact_invoices/gold"

# Delete the Streaming Files ################################## 
dbutils.fs.rm(f"{database_dir}/fact_invoices", True) 


# Delete the Database Files ###################################
dbutils.fs.rm(database_dir, True)

mongodb+srv://amd9asz:Password123@aidaclust.hrxvgai.mongodb.net/chinook_dw

True

#### We will also define global functions

In [0]:
##################################################################################################################
# Use this Function to Fetch a DataFrame from the MongoDB Atlas database server Using PyMongo.
##################################################################################################################
def get_mongo_dataframe(user_id, pwd, cluster_name, db_name, collection, conditions, projection, sort):
    '''Create a client connection to MongoDB'''
    mongo_uri = f"mongodb+srv://{user_id}:{pwd}@{cluster_name}.mongodb.net/{db_name}"
    
    client = pymongo.MongoClient(mongo_uri)

    '''Query MongoDB, and fill a python list with documents to create a DataFrame'''
    db = client[db_name]
    if conditions and projection and sort:
        dframe = pd.DataFrame(list(db[collection].find(conditions, projection).sort(sort)))
    elif conditions and projection and not sort:
        dframe = pd.DataFrame(list(db[collection].find(conditions, projection)))
    else:
        dframe = pd.DataFrame(list(db[collection].find()))

    client.close()
    
    return dframe

##################################################################################################################
# Use this Function to Create New Collections by Uploading JSON file(s) to the MongoDB Atlas server.
##################################################################################################################
def set_mongo_collection(user_id, pwd, cluster_name, db_name, src_file_path, json_files):
    '''Create a client connection to MongoDB'''
    mongo_uri = f"mongodb+srv://{user_id}:{pwd}@{cluster_name}.mongodb.net/{db_name}"
    client = pymongo.MongoClient(mongo_uri)
    db = client[db_name]
    
    '''Read in a JSON file, and Use It to Create a New Collection'''
    for file in json_files:
        db.drop_collection(file)
        json_file = os.path.join(src_file_path, json_files[file])
        with open(json_file, 'r') as openfile:
            json_object = json.load(openfile)
            file = db[file]
            result = file.insert_many(json_object)

    client.close()
    
    return result

 We will populate Dimensions by Ingesting Reference (Cold-path) Data 
Here I will fetch reference data From an Azure MySQL Database and create a New Databricks Metadata Database.

In [0]:
%sql
DROP DATABASE IF EXISTS chinook_d1h CASCADE;

In [0]:
%sql
CREATE DATABASE IF NOT EXISTS chinook_d1h
COMMENT "DS-2002 FINAL DATABASE"
LOCATION "dbfs:/FileStore/final_data/chinook_d1h"
WITH DBPROPERTIES (contains_pii = true, purpose = "DS-2002 final");

Here I will create a new table that source data from the date tim table in Azure MySQL database

In [0]:
%sql
CREATE OR REPLACE TEMPORARY VIEW view_date
USING org.apache.spark.sql.jdbc
OPTIONS (
  url "jdbc:mysql://amd9asz-mysql2.mysql.database.azure.com:3306/chinook_dw", --Replace with your Server Name
  dbtable "dim_date",
  user "amd9asz",    --Replace with your User Name
  password "Password123"  --Replace with you password
)

In [0]:
%sql

USE DATABASE chinook_d1h;

CREATE OR REPLACE TABLE chinook_d1h.dim_date   
COMMENT "Date Dimension Table"
LOCATION "dbfs:/FileStore/final_data/chinook_d1h/dim_date"
AS SELECT * FROM view_date

In [0]:
%sql
DESCRIBE EXTENDED chinook_d1h.dim_date;

col_name,data_type,comment
date_key,int,null
full_date,date,null
date_name,varchar(11),null
date_name_us,varchar(11),null
date_name_eu,varchar(11),null
day_of_week,int,null
day_name_of_week,varchar(10),null
day_of_month,int,null
day_of_year,int,null
weekday_weekend,varchar(10),null
week_of_year,int,null
month_name,varchar(10),null
month_of_year,int,null
is_last_day_of_month,varchar(1),null
calendar_quarter,int,null
calendar_year,int,null
calendar_year_month,varchar(10),null
calendar_year_qtr,varchar(10),null
fiscal_month_of_year,int,null
fiscal_quarter,int,null
fiscal_year,int,null
fiscal_year_month,varchar(10),null
fiscal_year_qtr,varchar(10),null
,,
# Delta Statistics Columns,,
Column Names,"month_of_year, weekday_weekend, date_name_us, day_of_week, date_key, calendar_quarter, calendar_year_month, date_name_eu, date_name, fiscal_quarter, is_last_day_of_month, day_of_month, month_name, calendar_year_qtr, fiscal_year_qtr, full_date, fiscal_year_month, fiscal_month_of_year, calendar_year, day_name_of_week, day_of_year, week_of_year, fiscal_year",
Column Selection Method,first-32,
,,
# Detailed Table Information,,
Catalog,spark_catalog,
Database,chinook_d1h,
Table,dim_date,
Created Time,Thu Dec 07 05:57:59 UTC 2023,
Last Access,UNKNOWN,
Created By,Spark 3.4.1,
Type,EXTERNAL,
Comment,Date Dimension Table,
Location,dbfs:/FileStore/final_data/chinook_dlh/dim_date,
Provider,delta,
Owner,root,
Table Properties,"[delta.minReaderVersion=1,delta.minWriterVersion=2]",

In [0]:
%sql
SELECT * FROM chinook_d1h.dim_date LIMIT 5

We will create a new table that sources genre dimension data from an Azure MySQL database

In [0]:
%sql
-- Create a Temporary View named "view_genre" that extracts data from your MySQL chinook database.

CREATE OR REPLACE TEMPORARY VIEW view_genre
USING org.apache.spark.sql.jdbc
OPTIONS (
  url "jdbc:mysql://amd9asz-mysql2.mysql.database.azure.com:3306/chinook_dw", --Replace with your Server Name
  dbtable "dim_genre",
  user "amd9asz",    --Replace with your User Name
  password "Password123"  --Replace with you password
)

In [0]:
%sql
USE DATABASE chinook_d1h;

CREATE OR REPLACE TABLE chinook_d1h.dim_genre
COMMENT "Genre Dimension Table"
LOCATION "dbfs:/FileStore/lab_data/chinook_d1h/dim_genre"
AS SELECT * FROM view_genre

In [0]:
%sql
DESCRIBE EXTENDED chinook_d1h.dim_genre;

In [0]:
%sql
SELECT * FROM chinook_d1h.dim_genre LIMIT 5

## Fetching data from MongoDB Atlas Database
We will load JSON Data into MongoDB specifically

In [0]:
display(dbutils.fs.ls(batch_dir))  # '/dbfs/FileStore/final_data'

In [0]:
source_dir = '/dbfs/FileStore/final_data'
json_files = {"employees" : 'chinook_employee.json'}

set_mongo_collection(atlas_user_name, atlas_password, atlas_cluster_name, atlas_database_name, source_dir, json_files)

In [0]:

#%fs rm -r /FileStore/final_data/chinook_d1h